.addNewButtom {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}

@media only screen and (max-width: 480px) {
  .addNewButtom>button {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}